@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

.login-pf {
  background: none;
}

.login-pf body {
  background-image: url(../img/bg.jpg);
}

.login-pf-page {
  padding-top: 0;
}

.login-pf-page-header {
  background-image: url(../img/nav-bg.jpg);
  height: 70px;
}

#kc-header-wrapper {
  background: url(../img/logo.svg) no-repeat center;
  background-size: 206px;
  text-indent: -99999px;
  padding: 0;
  height: 100%;
}

.login-pf-page .login-pf-header {
  margin-bottom: 30px;
}

#kc-form {
  display: flex;
}

.kc-form-col {
  flex: 1;
  margin-left: 2rem;
} .kc-form-col:first {
  margin-left: 0;
}

.kc-form-login-options {
  margin-bottom: 1rem;
}

.btn-globus {
  background: #335a95;
  border: 0 !important;
  border-radius: 0.5rem;
  color: #ffffff;
} .btn-globus:hover {
  background: #27518F;
} .btn-globus > img {
  margin: 0 1rem 0 -1rem;
  width: 4rem;
}
