@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

.login-pf {
  background: none;
}

.login-pf body {
  background-image: url(../img/bg.jpg);
}

.login-pf-page {
  padding-top: 0;
}

.login-pf-page-header {
  background-image: url(../img/nav-bg.jpg);
  height: 70px;
}

#kc-header-wrapper {
  background: url(../img/logo.svg) no-repeat center;
  background-size: 206px;
  text-indent: -99999px;
  padding: 0;
  height: 100%;
}

.login-pf-page .login-pf-header {
  margin-bottom: 30px;
}

#kc-form {
  text-align: center;
}

.kc-form-login-main-option {
  margin-bottom: 2rem;
}

.kc-form-divider {
  padding-top: .5rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(0,0,0,0.2);
  text-transform: uppercase;
}

.kc-form-login-options {
  display: flex;
  margin-bottom: 2rem;
} .kc-form-login-options > .btn {
  flex: 1;
  margin-left: 1rem;
} .kc-form-login-options > .btn:first-child {
  margin-left: 0;
} .kc-form-login-options > .btn:hover {
  /* Override default a:hover styling */
  color: #4d5258;
} .kc-form-login-options > .btn img {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  margin-right: .5rem;
} .kc-form-login-options > .btn span {
  display: inline-block;
  vertical-align: middle;
}

/* Override default alert styling */
.alert > p {
  margin-bottom: 1rem;
} .alert > p:last-child {
  margin-bottom: 0;
}

.btn {
  border-radius: .5rem;
}

.btn-xlg {
  font-size: 1.5em;
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #74a93c !important;
  background-image: linear-gradient(to bottom, #7eb741, #74a93c);
  border-color: #74a93c !important;
  color: white !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
} .btn-primary:hover, .btn-primary:active {
  background-image: none;
}

.badge-primary {
  background-color: #74a93c;
}
